@page "/"
@using Volo.Abp.MultiTenancy
@inherits MyInvestmentsComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="container">
    <div class="p-5 text-center">
        
        <h1>@L["LongWelcomeMessage"]</h1>
        
        @if ( !CurrentUser.IsAuthenticated )
        {
            <div>
                <a class="btn btn-primary" href="/authentication/login">
                    <i class="fa fa-sign-in-alt"></i> @L["Login"]
                </a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md d-flex align-items-center">
                            <div class="pe-0 pe-md-4">
                                <p class="mb-4">Estamos felizes em recebê-lo no My Investments, o seu portal completo para o registro e gerenciamento de operações em renda variável, ações e Fundos Imobiliários (FIIs) no Brasil.</p>
                                <p class="mb-4">Nosso objetivo é proporcionar a você uma experiência fácil e eficiente no acompanhamento dos seus investimentos. Aqui, você pode registrar todas as suas operações e exportar relatórios detalhados.</p>
                                <p class="mb-4">Com o My Investments, você terá todas as ferramentas necessárias para tomar decisões informadas e otimizar sua carteira de investimentos. Nosso portal foi desenvolvido pensando em investidores como você, que buscam simplicidade, praticidade e precisão na gestão dos seus investimentos.</p>
                                <p class="mb-4">Explore todas as funcionalidades que oferecemos e descubra como podemos ajudar você a alcançar seus objetivos financeiros. Seja você um investidor iniciante ou experiente, o My Investments está aqui para apoiá-lo em cada passo do seu caminho.</p>
                                <p class="mb-4">Bem-vindo à nossa comunidade de investidores. Vamos prosperar juntos!</p>
                                <p class="mb-4"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mb-5 text-center">
                <p class="align-middle">
                    <a href="https://www.instagram.com/" target="_blank" class="mx-2"><i class="fab fa-instagram"></i><span class="text-secondary"> MyInvestments</span></a>
                    <a href="https://x.com/" target="_blank" class="mx-2"><i class="fab fa-twitter"></i><span class="text-secondary"> MyInvestments</span></a>
                    <a href="https://github.com/AllanTosi/MyInvestments" target="_blank" class="mx-2"><i class="fab fa-github"></i><span class="text-secondary"> MyInvestments</span></a>
                </p>
            </div>
        }

        @if(CurrentUser.IsInRole("user"))
        {

            <Card Background="Background.Success" WhiteText>
                <CardBody>
                    <CardText>
                        <h5 class="m-1"> <i class="fas fa-rocket"></i> Parabéns, você é um usuário do <strong>MyInvestment$</strong>!</h5>
                    </CardText>
                </CardBody>
            </Card>
            
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md d-flex align-items-center">
                            <div class="pe-0 pe-md-4">
                                <p class="mb-4">Registre e gerencie suas operações em renda variável, ações e Fundos Imobiliários (FIIs) no Brasil.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary" href="/operacoes">
                            <i class="fa fa-sign-in-alt"></i> @L["Operacoes"]
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (CurrentUser.IsInRole("admin"))
        {
            <Card Background="Background.Success" WhiteText>
                <CardBody>
                    <CardText>
                        <h5 class="m-1"> <i class="fas fa-rocket"></i> Parabéns, você é um administrador do <strong>MyInvestment$</strong>!</h5>
                    </CardText>
                </CardBody>
            </Card>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md d-flex align-items-center">
                            <div class="pe-0 pe-md-4">
                                <p class="mb-4">Utilize o menu para administrar o site.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

 
    

</div>

@code {

}